@* @model string
 *@
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4 text-danger"><i class="fas fa-exclamation-triangle"></i> Hata!</h1>
               @*  <p class="lead">@Model</p> *@
                <p class="text-muted">Bir hata oluştu. Lütfen daha sonra tekrar deneyin.</p>
            </div>
        </div>
    </div>
</div>