

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Kalan Ürünler</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Ürün Adedi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ürün 1</td>
                        <td>10</td>
                        <td>
                            <button class="btn btn-primary">Düzenle</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">Sil</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Ürün 2</td>
                        <td>5</td>
                        <td>
                            <button class="btn btn-primary">Düzenle</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">Sil</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h1>Ürünler</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Ürün Adedi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ürün 1</td>
                        <td><input type="number" class="form-control col-auto" placeholder="Ürün Adedi"></td>
                        <td>
                            <button class="btn btn-success">Ekle</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

